/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mr-16 {
    margin-right: 16px !important;
}

.ml-16 {
    margin-left: 16px !important;
}

.fall-width {
    width: 100% ;
}

.mt-32 {
    margin-top: 32px;
}

.pt-16{
    padding-top: 16px;
}

.dialog-container {
    position: relative;

    h1 {
        margin-bottom: 0 !important;
    }

    mat-progress-bar {
        position: absolute;
        left: -24px;
        right: -24px;
        top: -24px;
        width: calc(100% + 48px);
    }
}